*.pdf
.venv/
.cache/
.cache_torch/
model_files/
*.pyc

#ALL IMAGE EXTENSIONS
*.jpg
*.jpeg
*.JPG
*.png
*.PNG
*.rar

# Ignore venv files
TOOLS/capture_venv
mp_venv/
onnx_venv/
torch_venv/
joblib_venv/

#Ignore json
*.json